<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <link rel="icon" href="/static/img/books_3145874.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo_usuarios.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">

    <!--! Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <!--? Tom Select CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tom-select/dist/css/tom-select.css" rel="stylesheet">
</head>
<body>
    <header>
        {% include './navbar.html' %}
    </header>
    <main>

        <div class="div-busqueda">
            <form class="frm-usuarios" action="/buscar_usuario" method="POST" id="form-busqueda">
                <label for="buscar_usuario"><h1>Gestión de Usuarios</h1>Administra los usuarios del sistema existentes.</label><br><br><br>
                <input class="buscar-usuario" id="cuadro-busqueda" type="text" name="buscar_usuario" autocomplete="off" placeholder="Buscar...">&nbsp;&nbsp;
                <button id="btn-buscar" type="submit">Buscar</button>
                
                <section class="menu-filtros">
                    <nav>
                        <section>
                            <h4> Buscar por: &nbsp;&nbsp;</h4>
                            <select name="filtro-busqueda" id="filtro-busqueda">
                                <option value="Todos">Todos los Roles</option>
                                <option value="Administrador">Administrador</option>
                                <option value="Bibliotecario">Bibliotecario</option>
                            </select>
                        </section>
                        <section>
                    </nav>
                

            </form>
        </div>

        {% if (exito) %}
        <span class="exito-ingreso">
            <h4><strong>{{exito}}</strong></h4>
        </span>
        {% endif %} 

        <div class="contendor-usuarios">
            
            {% for usuario in usuarios %}
            <div class="usuario">
                
                <span class="span-rol" 
                {% if (usuario[0]|int) == 2 %}
                    id="u-administrador"
                {% elif (usuario[0]|int) == 1 %}
                    id="u-bibliotecario"
                {% endif %}
                > 
                    <h2>{{usuario[1]}}</h2> 
                </span><!-- Rol  -->
                
                <span id="span-info-usuarios"> 
                    <h2>{{usuario[2]}}</h2> <!-- usuario  --> 
                    
                </span>
                <span id="span-informacion-usuario">
                    <h4 class="h4-datos-usuario">
                        <strong>Datos del usuario</strong><br>
                        Contraseña: {{usuario[3]}} <br>
                        Teléfono: {{usuario[4]}}<br>
                    </h4> <!-- Datos del usuario  --> 
                </span>
                <span id="span-acciones-usuario">                 
                    {% if session["rol"] == 'Administrador' and usuario[5]|int != 1 and session["id_administrador"] != usuario[5] %}
                        <form class="frm-eliminar-usuario" action="/eliminar_usuario" method="POST">
                            <input type="text" value="{{usuario[5]}}" name="id_usuario"> 
                            <button type="reset" class="btn-eliminacion"> Eliminar </button>
                            <span class="motivo_eliminacion">
                                <label for="">¿Estás seguro de eliminar este usuario?</label>
                                <button type="submit">Confirmar eliminacion</button> <button type="reset" class="btn-cancelar-eliminacion">Cancelar</button>
                            </span>
                        </form>

                    {% endif %}
                </span>
            </div>
            {% endfor %}
            <br><br><br><br>
        </div>        
        
    </main>

    <!-- Footer -->
    {% include 'footer.html' %}

    <!--? Tom Select JS -->
    <script src="https://cdn.jsdelivr.net/npm/tom-select/dist/js/tom-select.complete.min.js"></script>
    
    <!-- Curstom Scripts -->
    <script src="/static/js/sugerencias.js"></script>
    <script src="/static/js/eliminar_item.js"></script>

    <!--! Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>
