#Ignorar conexion a base de datos local y base de datos local
Biblioteca_GM.db
iniciarSQLiteCloud.py
creacion_db.sql
db_backup.py
src/database/SQLAlchemy.py
src/database/Biblioteca_GM.db.sql
src/database/Biblioteca_GM.sqbpro
src/database/Biblioteca_GM.db-journal
src/database/Biblioteca_GM - BACKUP.db

#Ignorar archivo excel de prueba
Datos de biblioteca de prueba.xlsx

#Ignorar variables de entorno para no exponerlas
.env

#Ignorar datos de entorno virtual
venv/

#Ignorar cache generado por flask
__pycache__/

#Ignorar cache de tests
.pytest_cache/

#!Ignorar archivos de log MOMENTANEAMENTE
#src/utils/logs

#!Ignorar partes del modulo libros en construccion ORM
src/libros/services/
src/public/services/

#Ignorar archivo bandit (Analisis de codigo)
.bandit