#Ignorar conexion a base de datos local y base de datos local
Biblioteca_GM.db
iniciarSQLiteCloud.py

#Ignorar variables de entorno para no exponerlas
.env

#Ignorar datos de entorno virtual
venv/

#Ignorar cache generado por flask
__pycache__/

#Ignorar cache de tests
.pytest_cache/

#!Ignorar archivos de log MOMENTANEAMENTE
src/utils/logs