

{% if ((session["rol"]) == "Administrador") or ((session["rol"]) == "Bibliotecario") %}
<nav class="navbar navbar-expand-lg bg-custom">
            <div class="container-fluid justify-content-start">
                <a class="navbar-brand" href="/">Biblioteca Gabriela Mistral</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse me-5 flex-grow-0 ms-auto" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if (request.endpoint == 'libros.libros') or (request.endpoint == 'libros.registro_libros') %} text-body-emphasis {% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Libros
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item {% if request.endpoint == 'libros.libros' %} border-start border-dark border-4 {% endif %}" href="{{ url_for('libros.libros') }}">Catalogo</a></li>
                            <li><a class="dropdown-item {% if request.endpoint == 'libros.registro_libros' %} border-start border-dark border-4 {% endif %}" href="{{ url_for('libros.registro_libros') }}">Registrar libros</a></li>
                        </ul>
                        </li>
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if (request.endpoint == 'prestamos.prestamos') or (request.endpoint == 'prestamos.prestamos') or (request.endpoint == 'prestamos.registro_prestamos') %} text-body-emphasis {% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Prestamos
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item {% if request.endpoint == 'prestamos.prestamos' %} border-start border-dark border-4 {% endif %}" href="{{ url_for('prestamos.prestamos') }}">Activos</a></li>
                            <li><a class="dropdown-item {% if request.endpoint == 'prestamos.prestamos' %} border-start border-dark border-4 {% endif %}" href="#">Devueltos</a></li>
                            <li><a class="dropdown-item {% if request.endpoint == 'prestamos.registro_prestamos' %} border-start border-dark border-4 {% endif %}" href="{{ url_for('prestamos.registro_prestamos') }}">Registrar prestamo</a></li>
                        </ul>
                        </li>
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if (request.endpoint == 'usuarios.usuarios') or (request.endpoint == 'usuarios.registrar_usuarios') %} text-body-emphasis {% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Usuarios
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item {% if request.endpoint == 'usuarios.usuarios' %} border-start border-dark border-4 {% endif %}" href="{{ url_for('usuarios.usuarios') }}">Todos los usuarios</a></li>
                            <li><a class="dropdown-item {% if request.endpoint == 'usuarios.registrar_usuarios' %} border-start border-dark border-4 {% endif %}" href="{{ url_for('usuarios.registrar_usuarios') }}">Registrar usuario</a></li>
                        </ul>
                        </li>
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if (request.endpoint == 'libros.libros_eliminados') or (request.endpoint == 'libros.libros_eliminados') or (request.endpoint == 'prestamos.prestamos_eliminados') or (request.endpoint == 'libros.libros_eliminados') %} text-body-emphasis {% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Logs
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item {% if request.endpoint == 'libros.libros_eliminados' %} border-start border-dark border-4 {% endif %}" href="#">Libros modificados</a></li>
                            <li><a class="dropdown-item {% if request.endpoint == 'libros.libros_eliminados' %} border-start border-dark border-4 {% endif %}" href="{{ url_for('libros.libros_eliminados') }}">Libros eliminados</a></li>
                            <li><a class="dropdown-item {% if request.endpoint == 'prestamos.prestamos_eliminados' %} border-start border-dark border-4 {% endif %}" href="{{ url_for('prestamos.prestamos_eliminados') }}">Prestamos eliminados</a></li>
                            <li><a class="dropdown-item {% if request.endpoint == 'libros.libros_eliminados' %} border-start border-dark border-4 {% endif %}" href="#">Usuarios eliminados</a></li>
                        </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" target="_blank" href="https://www.canva.com/design/DAGnUI0PU7M/cDvkG9fCgPKL4FTZee_YLQ/edit">Ayuda</a>
                        </li>
                    </ul>
                    
                    <!--! Agreagar opcion para ir al perfil -->
                    <ul class="navbar-nav ms-5 mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('login.login') }}">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
{% else %}
        <nav class="navbar navbar-expand-lg bg-custom">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Biblioteca Gabriela Mistral</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse me-5" id="navbarSupportedContent">
                    {% if (request.endpoint == 'main.inicio') or (request.endpoint == 'main.acercade') %}
                    <form class="d-flex" role="search" action="{{ url_for('libros.buscar_libro') }}" method="POST">
                        <input class="form-control me-2" type="search" placeholder="Buscar libro" aria-label="Search"/>
                        <button class="btn btn-outline-secondary" type="submit">Buscar</button>
                    </form>
                    {% endif %}
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('libros.libros') }}">Catálogo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.acercade') }}">Acerca de</a>
                        </li>
                        
                    </ul>
                    <ul class="navbar-nav ms-5 mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('login.login') }}">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
{% endif %}