<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de libros</title>
    <link rel="icon" href="/static/img/books_3145874.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colores.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo_insertar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/barra_lateral.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
    
    <!--? Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-custom">
            <div class="container-fluid justify-content-start">
                <a class="navbar-brand" href="/">Biblioteca Gabriela Mistral</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse me-5 flex-grow-0 ms-auto" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-body-emphasis" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Libros
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('libros.libros') }}">Catalogo</a></li>
                            <li><a class="dropdown-item border-start border-dark border-4" href="{{ url_for('libros.registro_libros') }}">Registrar libros</a></li>
                        </ul>
                        </li>
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Prestamos
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('prestamos.prestamos') }}">Activos</a></li>
                            <li><a class="dropdown-item" href="#">Devueltos</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('prestamos.registro_prestamos') }}">Registrar prestamo</a></li>
                        </ul>
                        </li>
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Usuarios
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('usuarios.usuarios') }}">Todos los usuarios</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('usuarios.registrar_usuarios') }}">Registrar usuario</a></li>
                        </ul>
                        </li>
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Logs
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Libros modificados</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('libros.libros_eliminados') }}">Libros eliminados</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('prestamos.prestamos_eliminados') }}">Prestamos eliminados</a></li>
                            <li><a class="dropdown-item" href="#">Usuarios eliminados</a></li>
                        </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.acercade') }}">Acerca de</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" target="_blank" href="https://www.canva.com/design/DAGnUI0PU7M/cDvkG9fCgPKL4FTZee_YLQ/edit">Ayuda</a>
                        </li>
                    </ul>
                    
                    <!--! Agreagar opcion para ir al perfil -->
                    <ul class="navbar-nav ms-5 mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('login.login') }}">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--
            <div class="navbar fondo-cristal">
                <a href="{{ url_for('login.logout') }}">Cerrar sesión</a>
            </div>
        -->
    </header>
    <main class="main">
        {% if ((session["rol"]) == "Administrador") or ((session["rol"]) == "Bibliotecario") %}
            <div class="container-fluid">
                <div class="row flex-nowrap">
                    <div class="col py-3 bg-light-custom text-body">
                        <h1 id="h1-titulo">Registrar nuevo libro</h1>
                        <h5 id="h5-nota">Complete el formulario para agregar un nuevo libro al catálogo de la biblioteca.</h5>
                        <div class="div-container-insertar">
                            <form method="POST" action="/insertar" class="formulario-insertar">
                                
                                <!--TODO: REDORDENAR DATOS PARA MAYOR COMODIDAD-->
                                
                                <label for="titulo">Titulo*</label>
                                <label for="nombre_autor apellido_autor">Datos del autor</label>
                                
                                <input type="text" name="titulo" placeholder="" autocomplete="off" required>
                                <span id="span-informacion-autor">
                                    <input type="text" name="nombre_autor" class="input-autor" placeholder="Nombre" autocomplete="off">
                                    <input type="text" name="apellido_autor" class="input-autor" placeholder="Apellido" autocomplete="off">
                                </span>
                                
                                <label for="ISBN">ISBN</label>
                                <label for="editorial">Editorial</label>
                                
                                <input type="text" name="ISBN" placeholder="" autocomplete="off">
                                <input type="text" name="editorial" class="input-editorial" placeholder="" autocomplete="off">
                                
                                <label for="tomo">Tomo</label>
                                <label for="paginas">Número de Páginas*</label>
                                
                                <input type="text" name="tomo" placeholder="" autocomplete="off">
                                <input type="number" name="num_paginas" placeholder="" autocomplete="off" required>
                                
                                <label for="copias">Número de Copias*</label>
                                <label for="sistema_dewey">Sistema Dewey</label>
                                
                                <input type="text" name="num_copias" placeholder="" autocomplete="off" required>
                                <select name="sistema_dewey" id="" >
                                    {% for ultima in ultima_seccion %}
                                    <option value="{{ ultima[0] }}">{{ ultima[0] }} - {{ ultima[1] }}</option>
                                    {% endfor %}
                                    {% for seccion in secciones %}
                                    <option value="{{ seccion[0] }}">{{ seccion[0] }} - {{ seccion[1] }}</option>
                                    {% endfor %}
                                </select>
                                
                                <label for="lugar">Lugar de Publicación</label>
                                <label for="anio">Año de Publicación</label>
                                
                                <input type="text" name="lugar" class="input-lugar" placeholder="" autocomplete="off">
                                <input type="text" name="anio" placeholder="" autocomplete="off">
                                
                                <ul class="ul-contenedor-sugerencias">
                                    <li>sugerencia 1</li>
                                    <li>sugerencia 2</li>
                                </ul>
                                
                                <button id="btn-registrar" type="submit">Registrar libro</button>

                            
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        <!--
            <section class="barra-lateral fondo-cristal">
                <h2>Administración</h2>
                <h4>Usuario: <br>
                {{session["rol"]}}&nbsp;{{session["usuario"]}}</h4>
                <nav>
                    <button class="boton-lateral-cerrar fondo-cristal">Cerrar</button>
                    <a href="{{ url_for('prestamos.prestamos') }}">Préstamos </a>
                    <a href="{{ url_for('prestamos.registro_prestamos') }}">Registro Préstamos</a>
                    <a href="{{ url_for('libros.libros') }}">Catálogo de Libros</a>
                <a href="{{ url_for('libros.registro_libros') }}" id="pagina-actual">Registro de Libros</a>
                {% if session["rol"] == "Administrador" %}
                <a href="{{ url_for('usuarios.usuarios') }}">Usuarios</a>
                <a href="{{ url_for('usuarios.registrar_usuarios') }}">Registro de Usuarios</a>
                <a href="{{ url_for('libros.libros_eliminados') }}">Libros Eliminados</a>
                <a href="{{ url_for('prestamos.prestamos_eliminados') }}">Préstamos Eliminados</a>
                {% endif %}
                <a target="_blank" href="https://www.canva.com/design/DAGnUI0PU7M/cDvkG9fCgPKL4FTZee_YLQ/edit">Ayuda</a>               
            </nav>
        </section>
        <button class="boton-lateral fondo-cristal">Menú</button>
        -->
        {% endif %}
        
        {% if (alerta) %}
        <span class="error-eliminacion">
            <h4><strong>{{alerta}}</strong></h4>
        </span>
        {% elif (registro_exitoso) %}
        <span class="exito-ingreso">
            <h4><strong>{{registro_exitoso}}</strong></h4>
        </span>
        {% endif %}           

    </main>
    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            
            <div class="footer-copyright">
                <p>&copy; <span id="current-year"></span> Biblioteca Municipal.</p>
            </div>
        </div>
    </footer>
    <script src="/static/js/menu.js"></script>
    <script>
        document.getElementById('current-year').textContent = new Date().getFullYear();
    </script>
        <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    
    <script src="{{ url_for('static', filename='js/sugerencias.js') }}"></script>
    <script src="/static/js/menu.js"></script>
</body>
</html>

