<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de libros</title>
    <link rel="icon" href="/static/img/books_3145874.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo_insertar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
    
    <!--? Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <!--? Tom Select CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tom-select/dist/css/tom-select.css" rel="stylesheet">
</head>
<body>
    <header>
        {% include './navbar.html' %}
    </header>
    <main class="main">
        {% if ((session["rol"]) == "Administrador") or ((session["rol"]) == "Bibliotecario") %}
            <div class="container-fluid">
                <div class="row flex-nowrap">
                    <div class="col py-3 bg-light-custom text-body text-center">
                        <h1 id="h1-titulo">Registrar nuevo libro</h1>
                        <h5 id="h5-nota">Complete el formulario para agregar un nuevo libro al catálogo de la biblioteca.</h5>
                        <br><br>
                        <div class="container-fluid w-75 bg-light overflow-visible">
                            <form method="POST" action="/registro_libros" class="row g-3 text-start">
                                <div class="col-12 col-md-6 mb-3">
                                    <label for="inputEmail4" class="form-label">Titulo*</label>
                                    <input class="form-control" type="text" name="titulo" placeholder="" autocomplete="off" required>
                                </div>
                                <div class="col-6 col-md-3 mb-3 overflow-visible">
                                    <label for="nombre_autor apellido_autor" class="form-label p-0 overflow-visible">Datos del autor</label>
                                    <input type="text" name="nombre_autor" class="form-control" placeholder="Nombre" autocomplete="off">
                                </div>
                                <div class="col-6 col-md-3 mb-3">
                                    <label for="nombre_autor apellido_autor" class="form-label p-0"> &nbsp; </label>
                                    <input type="text" name="apellido_autor" class="form-control" placeholder="Apellido" autocomplete="off">
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label for="ISBN" class="form-label">ISBN</label>
                                    <input name="ISBN" type="text" class="form-control" id="" placeholder="">
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label for="editorial" class="form-label">Editorial</label>
                                    <input name="editorial" type="text" class="input-editorial" id="cuadro-busqueda" placeholder="">
                                </div>
                                <div class="col-12 col-md-3">
                                    <label for="tomo" class="form-label">Tomo</label>
                                    <input name="tomo" type="number" class="form-control" id="" placeholder="">
                                </div>
                                <div class="col-12 col-md-3 mb-3">
                                    <label for="anio" class="form-label">Año de Publicación</label>
                                    <input name="anio" type="text" class="form-control" id="" placeholder="">
                                </div>
                                <div class="col-12 col-md-3 mb-3">
                                    <label for="num_paginas" class="form-label">Número de Páginas*</label>
                                    <input name="num_paginas" type="number" class="form-control" id="" placeholder="" required>
                                </div>
                                <div class="col-12 col-md-3 mb-3">
                                    <label for="num_copias" class="form-label">Número de Copias*</label>
                                    <input name="num_copias" type="text" class="form-control" id="" required>
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label for="lugar" class="form-label">Lugar de Publicación</label>
                                    <input name="lugar" type="text" class="input-lugar" id="cuadro-busqueda2" placeholder="">
                                </div>
                                <div class="col-12 col-md-6">
                                    <label for="inputState" class="form-label">Sistema Dewey</label>
                                    <select name="sistema_dewey" id="" class="form-select">
                                        {% for ultima in ultima_seccion %}
                                            <option value="{{ ultima[0] }}">{{ ultima[0] }} - {{ ultima[1] }} (Ultima seleccion)</option>
                                        {% endfor %}
                                        {% for seccion in secciones %}
                                            <option value="{{ seccion[0] }}">{{ seccion[0] }} - {{ seccion[1] }}</option>
                                        {% endfor %}
                                </select>
                                </div>
                                <div class="col-12 col-md-6 mx-auto text-center mb-3">
                                    <br>
                                    <button type="submit" class="btn btn-success w-50">Registrar libro</button>
                                    <br><br>
                                </div>
                                </form>
                            <!--! ======================================================================= 
                            <form method="POST" action="/registro_libros" class="formulario-insertar">
                                <label for="titulo">Titulo*</label>
                                <label for="nombre_autor apellido_autor">Datos del autor</label>
                                
                                <input type="text" name="titulo" placeholder="" autocomplete="off" required>
                                <span id="span-informacion-autor">
                                    <input type="text" name="nombre_autor" class="input-autor" placeholder="Nombre" autocomplete="off">
                                    <input type="text" name="apellido_autor" class="input-autor" placeholder="Apellido" autocomplete="off">
                                </span>
                                
                                <label for="ISBN">ISBN</label>
                                <label for="editorial">Editorial</label>
                                
                                <input type="text" name="ISBN" placeholder="" autocomplete="off">
                                <input type="text" name="editorial" id="cuadro-busqueda" class="input-editorial" placeholder="" autocomplete="off">
                                
                                <label for="tomo">Tomo</label>
                                <label for="num_paginas">Número de Páginas*</label>
                                
                                <input type="text" name="tomo" placeholder="" autocomplete="off">
                                <input type="number" name="num_paginas" placeholder="" autocomplete="off" required>
                                
                                <label for="num_copias">Número de Copias*</label>
                                <label for="sistema_dewey">Sistema Dewey</label>
                                
                                <input type="text" name="num_copias" placeholder="" autocomplete="off" required>
                                <select name="sistema_dewey" id="" >
                                    {% for ultima in ultima_seccion %}
                                    <option value="{{ ultima[0] }}">{{ ultima[0] }} - {{ ultima[1] }}</option>
                                    {% endfor %}
                                    {% for seccion in secciones %}
                                    <option value="{{ seccion[0] }}">{{ seccion[0] }} - {{ seccion[1] }}</option>
                                    {% endfor %}
                                </select>
                                
                                <label for="lugar">Lugar de Publicación</label>
                                <label for="anio">Año de Publicación</label>
                                
                                <input type="text" name="lugar" id="cuadro-busqueda2" class="input-lugar" placeholder="" autocomplete="off">
                                <input type="text" name="anio" placeholder="" autocomplete="off">
                                
                                <button id="btn-registrar" type="submit">Registrar libro</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        -->
        {% endif %}
        
        {% if (alerta) %}
        <span class="error-eliminacion">
            <h4><strong>{{alerta}}</strong></h4>
        </span>
        {% elif (registro_exitoso) %}
        <span class="exito-ingreso">
            <h4><strong>{{registro_exitoso}}</strong></h4>
        </span>
        {% endif %}           

    </main>
    <!-- Footer -->
    {% include 'footer.html' %}

    <!--? Tom Select JS -->
    <script src="https://cdn.jsdelivr.net/npm/tom-select/dist/js/tom-select.complete.min.js"></script>
    
    <!--! Bootstrap JS -->
    <script src="{{ url_for('static', filename='js/sugerencias.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>

