:root{
--fondo_principal: #FFFAEC;
--fondo_claro: #FFFDF5;
--fondo_oscuro: #3c2a21;
--fondo_saturado:#FEF6D9;
--letras_oscuras: #78350F;
--letras_claras: #B75D17;
--letras_saturadas: #D97D11;
--borde_principal: #FCD34D;
--cafe_claro: #a27b5c;
}