{% set libros_items = [
    ('libros.libros', 'Catálogo'),
    ('libros.registro_libros', 'Registrar libros'),
    ('data_managment.importar_libros', 'Importar libros'),
    ('data_managment.exportar_libros', 'Exportar libros')
] %}

{% set prestamos_items = [
    ('prestamos.prestamos', 'Todos los préstamos'),
    ('prestamos.registro_prestamos', 'Registrar préstamo')
    ] %}
    <!--
        ('prestamos.devueltos', 'Devueltos'),
        -->

{% set usuarios_items = [
    ('usuarios.usuarios', 'Todos los usuarios'),
    ('usuarios.registro_usuarios', 'Registrar usuario')
] %}

{% set logs_items = [
    ('eliminados.libros_modificados', 'Libros modificados'),
    ('eliminados.libros_e', 'Libros eliminados'),
    ('eliminados.prestamos_e', 'Préstamos eliminados'),
] %}
<!--
    ('usuarios.cambiar_contraseña', 'Cambiar contraseña'),
-->
{% set perfil_items = [
    ('usuarios.ver_perfil', 'Ver perfil'),
    ('datos.reporte_semestral', 'Generar reporte (INE)'),
    ('datos.graficas_generales', 'Gráficas generales'),
    ('login.logout', 'Cerrar sesión')
] %}



{% if ((session["rol"]) == "Administrador") or ((session["rol"]) == "Bibliotecario") %} <!-- Si es admin o bibliotecario, mostrar navbar con opciones completas -->
    <nav class="navbar navbar-expand-lg bg-custom">
        <div class="container-fluid justify-content-start">
            <a class="navbar-brand" href="/">Biblioteca Gabriela Mistral</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse me-5 flex-grow-0 ms-auto" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if (request.endpoint.startswith('libros.')) %} text-body-emphasis {% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Libros
                    </a>
                    <ul class="dropdown-menu">
                        {% for endpoint, label in libros_items %}
                            <li>
                                <a class="dropdown-item {% if request.endpoint == endpoint %} border-start border-dark border-4 {% endif %}"
                                    href="{{ url_for(endpoint) }}">
                                    {{ label }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    </li>
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if (request.endpoint.startswith('prestamos.')) %} text-body-emphasis {% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Préstamos
                    </a>
                    <ul class="dropdown-menu">
                        {% for endpoint, label in prestamos_items %}
                            <li>
                                <a class="dropdown-item {% if request.endpoint == endpoint %} border-start border-dark border-4 {% endif %}"
                                    href="{{ url_for(endpoint) }}">
                                    {{ label }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    </li>
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if (request.endpoint.startswith('usuarios.')) %} text-body-emphasis {% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Usuarios
                    </a>
                    <ul class="dropdown-menu">
                        {% for endpoint, label in usuarios_items %}
                            <li>
                                <a class="dropdown-item {% if request.endpoint == endpoint %} border-start border-dark border-4 {% endif %}"
                                    href="{{ url_for(endpoint) }}">
                                    {{ label }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    </li>
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if (request.endpoint.startswith('eliminados.')) %} text-body-emphasis {% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Logs
                    </a>
                    <ul class="dropdown-menu">
                        {% for endpoint, label in logs_items %}
                            <li>
                                <a class="dropdown-item {% if request.endpoint == endpoint %} border-start border-dark border-4 {% endif %}"
                                    href="{{ url_for(endpoint) }}">
                                    {{ label }}
                                </a>
                            </li>
                        {% endfor %}    
                    </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="https://www.canva.com/design/DAGnUI0PU7M/cDvkG9fCgPKL4FTZee_YLQ/edit">Ayuda</a>
                    </li>
                    <li class="nav-item dropdown ms-lg-5 mb-lg-0">
                    <a class="nav-link dropdown-toggle {% if (request.endpoint.startswith('eliminados.')) %} text-body-emphasis {% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ session["usuario"] }}
                    </a>
                    <ul class="dropdown-menu">
                        {% for endpoint, label in perfil_items %}
                            <li>
                                <a class="dropdown-item {% if request.endpoint == endpoint %} border-start border-dark border-4 {% endif %}"
                                    href="{{ url_for(endpoint) }}">
                                    {{ label }}
                                </a>
                            </li>
                        {% endfor %}    
                    </ul>
                    </li>
                    <li class="ms-lg-4 me-lg-4"></li>
                </ul>
                
            </div>
        </div>
    </nav>
{% else %} <!-- Si no es admin o bibliotecario, mostrar navbar normal -->
    <nav class="navbar navbar-expand-lg bg-custom">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Biblioteca Gabriela Mistral</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <script src="{{ url_for('static', filename='js/sugerencias.js') }}"></script>
            <div class="collapse navbar-collapse me-5" id="navbarSupportedContent">
                {% if (request.endpoint == 'main.inicio') or (request.endpoint == 'main.acercade') %}
                <form class="d-flex" role="search" action="/buscar_libro" method="GET" id="form-busqueda">
                    <input class="d-none" value="Titulo" id="filtro-busqueda" type="text">
                    <select class="w-a" name="buscar" id="cuadro-busqueda" data-placeholder="Buscar..."  autocomplete="off" cursor="text"></select>
                    <button class="btn btn-outline-secondary" type="submit">Buscar</button>
                </form>
                {% endif %}
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('libros.libros') }}">Catálogo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.acercade') }}">Acerca de</a>
                    </li>
                    
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login.login') }}">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endif %}